#greeting {
  position: absolute;
  top: -200px;
  color: white;
  -webkit-transition: top 3s ease;
  transition: top 3s ease;
  font-size: 48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#routine-message {
  position: absolute;
  top: 120px;
  left: -1000px;
  margin-top: 100px;
  margin-bottom: 200px;
  color: white;
  -webkit-transition: left 2.5s ease;
  transition: left 2.5s ease;
  font-size: 36px;
}

#default {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 36px;
  margin-top: 30px;
  top: 84%;
  left: -500px;
  -webkit-transition: left 2s ease;
  transition: left 2s ease;
}

#congrats {
  position: absolute;
  color: white;
  top: 84%;
  font-size: 36px;
  margin-top: 30px;
  left: 200%;
  -webkit-transition: left 2s ease;
  transition: left 2s ease;
}

.workout-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.workout-bottom p {
  border: white 2px solid;
  padding: 5px 8px;
  border-top: 0;
  border-left: 50%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-transition: border 0.5s, background-color 0.75s;
  transition: border 0.5s, background-color 0.75s;
}

.workout-bottom p :hover {
  background-color: rgba(20, 165, 20, 0.9);
  border: rgba(0, 255, 0, 0.5) 2px solid;
  border-top: white 2px solid;
}

#workout-list {
  position: absolute;
  right: 35.8%;
  -webkit-transition: right 2s ease;
  transition: right 2s ease;
  list-style-type: none;
  margin-top: 50px;
}

#workout-list .workout {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  width: 400px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: white 2px solid;
  border-radius: 25px;
  position: relative;
  margin-bottom: 75px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#workout-list .workout:hover {
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

#workout-list .workout:hover.workout img {
  border: #2f283d 2px solid;
}

#workout-list .workout img {
  width: 100px;
  height: 100px;
  border: white 2px solid;
  border-radius: 20px;
  position: absolute;
  top: 24px;
  right: 24px;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
}

#workout-list .workout-title {
  font-size: 24px;
  padding-top: 10px;
  margin-bottom: 5px;
  width: 270px;
}

#workout-list #text {
  text-align: center;
  width: 404px;
  height: 100%;
  border-radius: 22px;
  -webkit-transition: color 1s, background-color 1s;
  transition: color 1s, background-color 1s;
}

#workout-list #text:hover {
  background-color: white;
  color: #2f283d;
}

#workout-list #text .reps {
  width: 270px;
  margin-bottom: 8px;
}

#workout-list #text .description {
  width: 230px;
  font-size: 10px;
  margin-left: 13px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 2000px;
  margin: 0;
  max-height: 2000px;
  overflow-x: hidden;
}

html {
  max-height: 2000px;
  margin: 0;
  height: 2000px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {
  #routine-message {
    font-size: 24px;
  }
}
/*# sourceMappingURL=main.css.map */