
#workout-list {
  position: absolute;
  right: 35.8%;
  right: -750px;
  transition: right 2s ease;
  list-style-type: none;
  margin-top: 50px;
}

#workout-list .workout {
  transition: ease-in-out 0.5s;
  width: 400px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: white 2px solid;
  border-radius: 25px;
  position: relative;
  margin-bottom: 75px;
}
#workout-list .workout img {
  width: 100px;
  height: 100px;
  border: #ff351f 2px solid;

  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 24px;
  right: 24px;
}

#workout-list #text .workout-title {
  font-size: 24px;
  padding-top: 10px;
  margin-bottom: 5px;
  width: 270px;
}
.reps {
  width: 270px;

  margin-bottom: 8px;
}
.description {
  width: 230px;
  font-size: 12px;
  margin-left: 13px;
}
.workout-title {
  font-size: 24px;
}

#text:hover {
  background-color: white;
  color: #ff351f;
}

#text {
  text-align: center;
  width: 404px;
  height: 100%;
  border-radius: 22px;
  transition: color 0.2s, background-color 1.5s;
}