* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 2000px;
  margin: 0;
  max-height: 2000px;
  overflow-x: hidden;
}

html {
  max-height: 2000px;
  margin: 0;
  height: 2000px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff351f+0,e3861b+49,e3861b+49,ff351f+100 */
  background: #ff351f; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #ff351f 0%,
    #e3861b 49%,
    #e3861b 49%,
    #ff351f 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ff351f 0%,
    #e3861b 49%,
    #e3861b 49%,
    #ff351f 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ff351f 0%,
    #e3861b 49%,
    #e3861b 49%,
    #ff351f 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff351f', endColorstr='#ff351f',GradientType=0 ); /* IE6-9 */

  background-repeat: no-repeat;
}

#greeting {
  position: absolute;
  top: -200px;
  color: white;
  transition: top 3s ease;
  font-size: 48px;
  /* left: 41.8%;  */
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#routine-message {
  position: absolute;
  top: 120px;
  /* left: 33.5%; */
  left: -1000px;

  margin-top: 100px;
  margin-bottom: 200px;
  color: white;
  transition: left 2.5s ease;
  font-size: 36px;
}

#workout-list {
  position: absolute;
  right: 35.8%;
  right: -750px;
  transition: right 2s ease;
  list-style-type: none;
  margin-top: 50px;
}

#workout-list .workout {
  transition: ease-in-out 0.5s;
  width: 400px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: white 2px solid;
  border-radius: 25px;
  position: relative;
  margin-bottom: 75px;
}
#workout-list .workout img {
  width: 100px;
  height: 100px;
  border: #ff351f 2px solid;

  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 24px;
  right: 24px;
}

#workout-list #text .workout-title {
  font-size: 24px;
  padding-top: 10px;
  margin-bottom: 5px;
  width: 270px;
}
.reps {
  width: 270px;

  margin-bottom: 8px;
}
.description {
  width: 230px;
  font-size: 12px;
  margin-left: 13px;
}
.workout-title {
  font-size: 24px;
}

#text:hover {
  background-color: white;
  color: #ff351f;
}

#text {
  text-align: center;
  width: 404px;
  height: 100%;
  border-radius: 22px;
  transition: color 0.2s, background-color 1.5s;
}
.workout-bottom {
  display: flex;
  height: 30px;
  position: relative;
  justify-content: space-around;
}

.reps-button {
  border: none;
  background: none;
  color: white;
  transition: opacity 0.5s ease;
}

.workout-bottom p {
  border: white 2px solid;
  padding: 5px 8px;
  border-top: 0;
  border-left: 50%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: border 0.5s, background-color 0.75s;
}

.workout-bottom p:hover {
  background-color: rgba(20, 165, 20, 0.9);
  border: rgba(0, 255, 0, 0.5) 2px solid;
  border-top: white 2px solid;
}

#default {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 36px;
  margin-top: 30px;
  top: 84%;
  left: -500px;
  transition: left 2s ease;
}

#congrats {
  position: absolute;
  color: white;
  top: 84%;
  font-size: 36px;
  margin-top: 30px;
  left: 200%;
  transition: left 2s ease;
}
