* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

html {
  height: 250%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff351f+0,e3861b+100 */
  background: #ff351f; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #ff351f 0%,
    #e3861b 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ff351f 0%,
    #e3861b 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ff351f 0%,
    #e3861b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff351f', endColorstr='#e3861b',GradientType=0 ); /* IE6-9 */

  background-repeat: no-repeat;
}

#greeting {
  text-align: center;
  margin-top: 50px;
  color: white;
  transition: ease 2s;
  font-size: 48px;
}

#routine-message {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 75px;
  color: white;
  transition: ease 2s;
  font-size: 36px;
}

#workout-list {
  text-align: center;
  margin-top: 40px;
  list-style-type: none;
}

#workout-list .workout {
  transition: ease-in-out 0.5s;
  width: 400px;
  height: 150px;
  margin: 75px auto;
  color: white;
  border: white 2px solid;
  border-radius: 25px;
  position: relative;
  z-index: 1;
}
#workout-list .workout img {
  width: 100px;
  height: 100px;
  border: #ff351f 2px solid;

  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 24px;
  right: 24px;
}

#workout-list #text .workout-title {
  font-size: 24px;
  padding-top: 10px;
  margin-bottom: 5px;
  width: 270px;
}
.reps {
  width: 270px;

  margin-bottom: 8px;
}
.description {
  width: 230px;
  font-size: 12px;
  margin-left: 13px;
}
.workout-title {
  font-size: 24px;
}

#text:hover {
  background-color: white;
  color: #ff351f;
}

#text {
  text-align: center;
  width: 404px;
  height: 100%;
  border-radius: 22px;
  transition: color 0.2s, background-color 1.5s;
}
.workout-bottom {
  display: flex;
  height: 30px;
  position: relative;
  justify-content: space-around;
}

.workout-bottom p {
  border: white 2px solid;
  padding: 5px 8px;
  border-top: 0;
  border-left: 50%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: border 0.5s, background-color 0.75s;
}

.workout-bottom p:hover {
  background-color: rgba(20, 165, 20, 0.9);
  border: rgba(0, 255, 0, 0.5) 2px solid;
  border-top: white 2px solid;
}
