* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

html {
  height: 210%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff351f+0,e3861b+100 */
  background: #ff351f; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #ff351f 0%,
    #e3861b 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ff351f 0%,
    #e3861b 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ff351f 0%,
    #e3861b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff351f', endColorstr='#e3861b',GradientType=0 ); /* IE6-9 */

  background-repeat: no-repeat;
}

#greeting {
  text-align: center;
  margin-top: 50px;
  color: white;
  transition: ease 2s;
  font-size: 48px;
}

#routine-message {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 75px;
  color: white;
  transition: ease 2s;
  font-size: 36px;
}

#workout-list {
  text-align: center;
  margin-top: 40px;
  list-style-type: none;
}

#workout-list .workout {
  transition: ease-in-out 0.5s;
  width: 400px;
  height: 150px;
  margin: 50px auto;
  color: white;
  border: white 2px solid;
  border-radius: 25px;
  position: relative;
}
#workout-list .workout img {
  width: 100px;
  height: 100px;
  border: #ff351f 2px solid;

  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 24px;
  right: 24px;
}
#workout-list #text {
  text-align: center;
  width: 270px;
}

#workout-list #text .workout-title {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.reps {
  margin-bottom: 8px;
}
.description {
  width: 230px;
  font-size: 12px;
  margin-left: 13px;
}
.workout-title {
  font-size: 24px;
}

.workout:hover {
  background-color: white;
}

#text:hover {
  color: #ff351f;
}
